{% extends 'download/layout.html' %}
{% block content %}
<div class="container">

	<div id="content">

	      <form class="form-signin" action="/account/password/" method="post">
		  {% csrf_token %}
	        <h2 class="form-signin-heading">Update your password</h2>
			<input type="password" name="old-pass" class="input-block-level" placeholder="Old password">
	        <input type="password" name="new-pass" class="input-block-level" placeholder="New password">
	        <input type="password" name="confirm-pass" class="input-block-level" placeholder="Confirm password">
			<input type="hidden" name="next" value="{{ next }}">
	        <button class="btn btn-large btn-primary" type="submit">Submit</button>
	      </form>

	</div> 
</div><!-- /container -->

{% endblock %}