{% extends 'download/layout.html' %}
{% block content %}
<div class="container">

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% if user.is_authenticated %}
    <form class="form-search" action="/search/" method="post">
		{% csrf_token %}
		<h2 class="form-search-heading">Please enter some search terms</h2>
		<input type="text"  class="input-block-level" name="query" placeholder="Search me">
		<button class="btn btn-sm btn-primary" type="submit">Search</button>
	</form>
{% else %}
<form class="form-signin" action="/login/" method="post">
{% csrf_token %}
  <h2 class="form-signin-heading">Please sign in</h2>
  <input type="text" name="username" class="input-block-level" placeholder="Username">
  <input type="password" name="password" class="input-block-level" placeholder="Password">
  <button class="btn btn-large btn-primary" type="submit">Sign in</button>
</form>


{% endif %}	


</div>
{% endblock %}