{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Download tool</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">


  </head>

  <body>
	<div class="navbar navbar-fixed-top navbar-inverse">
	  <div class="navbar-inner">
	    <div class="container">
	      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </a>
	      <a class="brand" href="/">Download Tool</a>

	      <div class="nav-collapse collapse">
			<ul class="nav">
				  <li><a href="/about/">About</a></li>
			    </ul>
			<ul class="nav pull-right">
	{% if user.is_authenticated %}
	            <li class="dropdown">
	              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hello {{ user.username }} <b class="caret"></b></a>
	              <ul class="dropdown-menu">
	                <li><a href="/logout/">Logout</a></li>
	              </ul>
	            </li>
	{% else %}
		
				<li><a href="/login/" title="Sign In" id="signin" >Sign In</a></li>
		
	{% endif %}
	          </ul>
	      </div>

	    </div>
	  </div>
	</div>
	{% block content %}{% endblock %}

    <script src="{% static 'js/jquery-min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>

  </body>
</html>